<!DOCTYPE HTML>
<html lang="en">
<head>
<!--Page Title-->
<title>Swept App - Early Access</title>
<!--Meta Tags-->
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<!-- Set Viewport-->
<meta name="viewport" content="user-scalable=no,initial-scale=1.0, maximum-scale=1.0 width=device-width" />
<!-- Allows WebApp-->
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="icon" 
      type="image/png" 
      href="{{ STATIC_URL }}signup/images/myicon.png">


<!--Load CSS-->
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Muli:300,300italic' rel='stylesheet' type='text/css'>
<!--Main CSS-->
<link rel="stylesheet" href="{{ STATIC_URL }}signup/css/screen.css" media="screen">
<!--jQuery-->
<script src="{{ STATIC_URL }}signup/js/jquery.min.js"></script>
<!--Respond.js-->
<script src="{{ STATIC_URL }}signup/js/respond.min.js"></script>
<!--jQuery Plugins-->
<script src="{{ STATIC_URL }}signup/js/jquery.flexslider-min.js"></script>
<script src="{{ STATIC_URL }}signup/js/jquery.elastislide.js"></script>
<script src="{{ STATIC_URL }}signup/js/jquery.colorbox-min.js"></script>
<script src="{{ STATIC_URL }}signup/js/jquery.tipsy.js"></script>
<script src="{{ STATIC_URL }}signup/js/jquery.tweet.js"></script>
<!--Custom JavaScript-->
<script src="{{ STATIC_URL }}signup/js/jquery.custom.js"></script>

<script type="text/javascript">
function validateForm()
{
var x=document.forms["contactform"]["name"].value;
if (x==null || x=="")
  {
  alert("Please complete all the required fields");
  return false;
  }
var x=document.forms["contactform"]["email"].value;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
  {
  alert("Not a valid e-mail address");
  return false;
  }
}
</script>

<script type="text/javascript">
function validateForm()
{
var x=document.forms["contactform2"]["name"].value;
if (x==null || x=="")
  {
  alert("Please complete all the required fields");
  return false;
  }
var x=document.forms["contactform2"]["email"].value;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
  {
  alert("Not a valid e-mail address");
  return false;
  }
}
</script>

<!--HTML5 & CSS JS fix for Internet Explorer-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie9.js"></script>
<![endif]-->

</head>

<!--Start Body-->

<!-- Target everything but IE-->
<!--[if !IE]><!-->
<body id="not-ie" class="home">
<!--<![endif]-->
<!--Set body classes for IE bugs-->
<!--[if IE 7]>
<body id="ie7">
<![endif]-->
<!--[if IE 8]>
<body id="ie8">
<![endif]-->
<!--[if IE 9]>
<body id="ie9">
<![endif]-->
<!--Enb Body Classes-->

<header>
		<div class="wrapper">
				<h1 class="logo"><a href="http://swept.in"><img src="{{ STATIC_URL }}signup/images/swept-logo.png" alt="Modern Bussines 5"></a></h1>

<!--
				<nav id="top-nav">
						<ul>
								<li><a class="active" href="#">Home</a></li>
								<li><a href="#">Blog</a></li>
						</ul>
				</nav>
End Nav--> 

		</div>
		<!--End .wrapper--> 
</header>

<!--Start Splash-->

<section class="splash">
		<div class="wrapper">
				<section id="buy-splash" class="splash-half first">
								<h3>Any man has a chance to sweep any woman off her feet. He just needs the right broom. </h3> 
								<p>Thanks for signing up.</p>
								<h4>We'll let you know when the app is available.</h4>
				</section>
			<section id="splash-img" class="splash-half"> <img src="{{ STATIC_URL }}signup/images/iphones.png" alt="iPhones"> </section>
		</div>
</section>
<!--End Splash


--> 


<!--Start The Team
<div class="wrapper">
		<h2>MEET THE TEAM.</h2>
		<section id="about" class="container">
				<section class="one-third first"><img src="" alt="Staff"></section>
				<section class="two-third">
						<h3></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper feugiat sem nec accumsan. Quisque lobortis volutpat sem quis scelerisque. 
								
								Etiam posuere imperdiet diam, ut sollicitudin lacus adipiscing et. Nunc ac purus sed tortor tincidunt gravida. Cras ac turpis id nulla iaculis ultricies. Vestibulum metus diam, tempor ut tristique eu, hendrerit quis tellus. Quisque in diam sapien.</p>
                                
						<ul class="social">
								<li><a href="#" class="gplus tip" title="Google Plus">Google Plus</a></li>
								<li><a href="#" class="twitter tip" title="Twitter">Twiiter</a></li>
								<li><a href="#" class="linkedin tip" title="Linkedin">linkedin</a></li>
								<li><a href="#" class="facebook tip" title="Facebook">Facebook</a></li>
						</ul>
                                
				</section>
				<hr>
				<blockquote></blockquote>
		</section>
</div>
End the team--> 


</body></html>