{% extends "base.html" %}

{% block head_title %}Sign In &ndash; {{ block.super }}{% endblock %}

{% block content %}

<h3>Frequently asked questions about Swept</h3>

<h4>What is Swept?</h4>

<p>Apps by Lift Account is your passport to exclusive features, content, and special offers. The account is
free, and can be created in a matter of seconds.</p>

<p>Once you have your account, sign in to any supported app on your mobile device to unlock features and content.</p>

<p>Don't forget to sign up for our newsletter when you create your account! That will allow us to notify you of
new benefits as they become available.</p>

<h4>Is it the same as LDS Account?</h4>

<p>No, an <a href="https://ldsaccount.lds.org/">LDS Account</a> is tied to your Church membership records and allows you to access many official Church resources.
Apps by Lift Account is completely unrelated. It is used for accessing exclusive features, content, and special offers from <a href="http://appsbylift.com/">Apps by Lift</a>.</p>

<h4>How do I create an Apps by Lift Account?</h4>

<p>You can create an account in any supported app on your mobile device, or you can <a href="/register/">register for one on our website</a>. Once you've signed up, you
will need to verify your email address by clicking on a link that will be sent to your inbox.</p>

<h4>What do I do if I forget my Account ID?</h4>

<p>Your Account ID is your email address. If you forget which email address you used, you can always create a new account.</p>

<h4>What do I do if I forget my password?</h4>

<p>You can always <a href="/password/reset/">reset your password on our website</a>.</p>

{% endblock %}
