{% extends "base.html" %}

{% block head_title %}Reset Password &ndash; {{ block.super }}{% endblock %}

{% block content %}

<h3>Reset password</h3>

<p>Reset your password by entering a new one.</p>

<form method='post' action=''>
  {% csrf_token %}
  <p>
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
  </p>
  <p>
    {{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
  </p>
  <p><input type='submit' value="Change Password" /></p>
</form>

{% endblock %}
